<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			<tr>
				<td>用户名</td>
				<td>${model.username}</td>
			</tr>
			<tr>
				<td>密码</td>
				<td>${model.password}</td>
			</tr>
			<tr>
				<td>真实姓名</td>
				<td>${model.realname}</td>
			</tr>
			<tr>
				<td>部门</td>
				<td>${flyfox.dictValue(model.departid )  }</td>
			</tr>
			<tr>
				<td>类型</td>
				<td>
 

				</td> 
			</tr>
			<tr>
				<td>状态</td>
				<td>${model.state}</td>
			</tr>
			<tr>
				<td>结束时间</td>
				<td>${model.endtime}</td>
			</tr>
			<tr>
				<td>email</td>
				<td>${model.email}</td>
			</tr>
			<tr>
				<td>手机号</td>
				<td>${model.tel}</td>
			</tr>
			<tr>
				<td>地址</td>
				<td>${model.address}</td>
			</tr>
			<tr>
				<td>头像地址</td>
				<td>${model.title_url}</td>
			</tr>
			<tr>
				<td>说明</td>
				<td>${model.remark}</td>
			</tr>
			<tr>
				<td>主题</td>
				<td>
 

				</td> 
			</tr>
			<tr>
				<td>创建时间</td>
				<td>${model.create_time}</td>
			</tr>
		
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>