<% 
var headContent = {
	include("/pages/template/head.html"){}
};

var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal" role="form">
	<!-- 数据列表 -->
	<table class="table">
		<%  // 列表头部 %>
			<tr>
				<td>数据字典类型</td>
				<td>${model.dict_type}</td>
			</tr>
			<tr>
				<td>名称</td>
				<td>${model.detail_name}</td>
			</tr>
			<tr>
				<td>代码</td>
				<td>${model.detail_code}</td>
			</tr>
			<tr>
				<td>排序号</td>
				<td>${model.detail_sort}</td>
			</tr>
			<tr>
				<td>类型</td>
				<td>${model.detail_type}</td>
			</tr>
			<tr>
				<td>状态</td>
				<td>${model.detail_state}</td>
			</tr>
			<tr>
				<td>内容</td>
				<td>${model.detail_content}</td>
			</tr>
			<tr>
				<td>备注</td>
				<td>${model.detail_remark}</td>
			</tr>
			<tr>
				<td>创建时间</td>
				<td>${model.create_time}</td>
			</tr>
			<tr>
				<td>创建者</td>
				<td>${model.create_id}</td>
			</tr>
		
	</table>
	
	<div style="height: 50px;clear: both;">&nbsp;</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
		<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
	  </div>
	</nav>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>